{% extends 'base.html' %}

{% block content %}

 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">AmiAmi</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Characters & Hobbies</p>
                </div>
            </div>
        </header>
<div class="container">
    <div class="row">
        <center>
        <div class="col=8">
<br/><br/>
 <br/><br/>
<p align="justify">
<br/><br/>Terms of Service

Article 1: Terms and Conditions
   <br/><br/> 1. The company has set the following Terms and Conditions with the understanding that they apply to both the company as well as users with the understanding that users will endeavor to follow along with them to the best of their ability.
    <br/><br/>2. Any additional or unique terms or conditions that may be posted on our site, sub-sites, via other linked sites or via direct communication from the company to the users will be considered as an element of these provisions. In any cases where unique terms or additional terms differ from those described in this listing of terms and conditions the unique or additional terms will be considered to take precedence.
    <br/><br/>3. The company reserves the right to make any changes deemed necessary to the terms and conditions without seeking the prior consent of users. From that point such changes or additions are made onwards the newly updated terms and conditions will constitute the current terms of use for the site and/or point system.
    <br/><br/>4. The company disavows any responsibility for inconvenience or loss caused to the user by updates to the terms and conditions.
<br/><br/>
Article 2: Status and Requirements of Users
   <br/><br/> 1. Status of Users
        <br/><br/>Users accept their status as users of the site and as such agree to follow all terms and conditions set forth in the agreement to the best of their ability.
    <br/><br/>2. Using this site
       <br/><br/> While using this site users agree to refrain from the following:
        <br/><br/>(1) Any actions that infringe on this site's or any third party's copyright, patent, trademark, trade secret or other intellectual property rights, including rights of publicity or privacy;
        <br/><br/>(2) Taking any actions that may cause damage to this company or any associated third party;
        <br/><br/>(3)Take any action that detrimentally interferes with, surreptitiously intercepts or expropriates any system, data or Information; or interfere or attempt to interfere with the site;
        <br/><br/>(4) Take any action that is offensive to public order and morals;
        <br/><br/>(5) Violate any laws or perform any action that may lead to the violation of any laws;
        <br/><br/>(6) Provide false, inaccurate or misleading information (including personal information);
        <br/><br/>(7) Utilize this site for commercial gain without expressed authorization;
        <br/><br/>(8) Act in a manner that is defamatory, libelous, threatening or harassing;
        <br/><br/>(9) Distribute viruses or any other technologies that may harm this site, or the interests or property of other users;
        <br/><br/>(10) Violate any domestic or international law, statute, ordinance, or regulations;
        <br/><br/>(11) Take any other action that may be deemed inappropriate by this site.
<br/><br/>
Article 3: Privacy Policy
    The company will manage any personal information entered in the site by users as outlined in the Privacy Policy. For further information regarding such policies please view the site's Privacy Policy.
<br/><br/>
Article 4: Purchases
    <br/><br/>The site may be used to purchase products.
    <br/><br/>When placing orders with the site, users agree to read, agree with and accept our privacy policy as well as all of the terms and conditions contained in the user agreement.
    <br/><br/>2. When placing an order, users agree to adhere to the methods stipulated by the site
    <br/><br/>After placing and order, users will receive an order confirmation notice from the site.
    <br/><br/>When placing an order, users are entering a legal contract with this site.
    <br/><br/>This contract is binding until the products ordered have been delivered to the delivery carrier by the company.
    <br/><br/>This contract is subject to cancellation at any time at the discretion of the site
    <br/><br/>3. Legal or other necessary measures will be taken if it has been determined at any time, including after an order has been completed, that the user has violated the company's terms and conditions.
    <br/><br/>4. The company will accept no liability in any event including (without limitation) negligence for any damages or loss of any kind, including (without limitation) direct, indirect, incidental, special or consequential damages, expenses or losses arising out of, or in connection with the user's use or inability to use the site, or in connection with any error, omission, defect, computer virus, system failure or in connection with the access of, use of, performance of, browsing in the site.
<br/><br/>
Article 5: Prices
    <br/><br/>1. All prices are considered to be set at the time an order is placed;
    <br/><br/>2. The site strives to provide only accurate information, however in the event of a pricing error the order will be altered to reflect the correct price;
    <br/><br/>3. In the event of manufacturer price change any affected orders will be altered to reflect the new price.
<br/><br/>
Article 6: Shipping
    <br/><br/>1. All costs related to shipping service will be borne by the user. All shipping costs and applicable services will be determined by the company;
    <br/><br/>2. Users agree to contact their local post office (not the company) for any changes to shipping address or other delivery details to be made after an order has been shipped;
    <br/><br/>3. The site accepts no liability for order or item cancellations caused by shipping delays, product availability, etc.
<br/><br/>
Article 7: Returns
    <br/><br/>1. If the product is damaged or contains defects the user agrees to report said defects to the site within 7 days of receiving the merchandise. The site will then determine the best course of action to be taken. The company will not provide service for any reports received after 7 or more days have elapsed from an order's date of receipt;
    <br/><br/>2. Users agree to follow the process noted above and to abide by any service terms set by the company.
<br/><br/>
Article 8: Product Liability
    <br/><br/>1. In the event that a product cannot be procured, the site reserves the right to cancel any orders as necessary.
    <br/><br/>2. The company will send products to the address stipulated by the user on the applicable order form;
    <br/><br/>3. The site will do its utmost to ensure the accuracy and completeness of product descriptions, however the company accepts no liability for inaccuracies or errors. Current descriptions take precedence over those previous noted;
    <br/><br/>4. Under law, this site accepts no responsibility whatsoever for damage to or loss of merchandise.
<br/><br/>
Article 9: Information Published on the Site
    <br/><br/>1. There is no guarantee regarding the accuracy, timeliness or usability of the information published on the site;
    <br/><br/>2. The site reserves the right to add, alter, remove, etc. any information provided at any time and without prior notice;
    <br/><br/>3. The site accepts no liability for any damages incurred by users as a result of any information which is added, altered or removed in this way.
<br/><br/>
Article 10: Interruption or Discontinuation of Service
    <br/><br/>1. The site reserves the right to halt or discontinue any and all services at the company's discretion without prior notice for any of the following reasons:
        <br/><br/>(1) System trouble, system updates, security checks or any sort of emergency;
        <br/><br/>(2) In the event of a natural disaster or act of God;
        <br/><br/>(3) Problems related to ISPs or other communications carriers;
        <br/><br/>(4) Halt of or discontinuation of service due to technological, operational or any other unforeseen circumstances.
    <br/><br/>2. The site accepts no responsibility for damages incurred by users or other 3rd parties in the event of service suspension or cancellation.
<br/><br/>
Article 11: Links
    <br/><br/>1. The site makes no warranty of any type regarding the information, products, services, opinions, ideas, instructions or materials that may be contained in, or the technical performance of, any linked website;
    <br/><br/>2. When linking to the site, the link, when activated by a user, must display the site in full-screen format and not with a "frame" on the linked website;
    <br/><br/>3. Links to other websites may be removed from this site any at time.
<br/><br/>
Article 12: Copyrights
    <br/><br/>1. Users may not infringe the site's copyrights, patents, trademarks, trade secrets or other intellectual property rights;
    <br/><br/>2. Users may not infringe on any third party's copyright, patent, trademark, trade secret or other intellectual property rights;
    <br/><br/>3. If this agreement is breached by a user, that user accepts all responsibility, legal and financial, and agrees to not take any action which would interfere with or damage the company in any way.
<br/><br/>
Article 13: Liability Indemnity
    <br/><br/>1. The site accepts no liability for damages incurred by users or other 3rd parties as a result of changes to or the suspension, discontinuation or abolishment of service;
    <br/><br/>2. The site accepts no liability for damages incurred to 3rd parties by users. In the event of such a situation said user accepts all responsibility, legal and financial, and agrees to not take any action which would interfere with or damage the company in any way.
<br/><br/>
Article 14: Legal Compliance
    All aspects of the agreement are in accordance with U.S. law.
<br/><br/>
Article 15: Jurisdiction
    The agreement shall be governed in all respects by the laws of United States, without regard to conflict of law provisions.
<br/><br/>
Article 16: Contact
    <br/><br/>1. All notifications to users regarding use of the site will be sent via e-mail or posted on the site itself;
    <br/><br/>2. Users agree to comply with any updates or contact sent from the company;
    <br/><br/>3.Users agree that any communications made with the site via the above listed methods may be used in a court of law.
</p>
            <br/><br/>
            <br/><br/>

        </div>
        </center>
    </div>
</div>
{% endblock %}